body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}

.primary-btn {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  color: #ffff;
  padding: 18px 35px;
  margin-right: 30px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}

.portfolio-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  margin: 30px 30px 100px 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic {
  width: 584px;
  height: 676px;
}
.banner-greeting {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 0px;
  margin-left: 170px;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 160px;
}
.banner-des {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 160px;
}
.banner-content {
  max-width: 580px;
}

.nav-btn {
  margin-left: 160px;
}

.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 0px 160px;
}

.section-des {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}
.about-info-container{
  display: flex;
 justify-content: space-between;
 

}
.about-info{
  color: #757575;
text-align: center;
font-size: 20px;
font-weight: 400;
}
.info-description{
  color:#474747;
  font-size: 20px;
  font-weight: 700;
 
  
  
}
